<h1>Activity 1: PALMER PENGUINS DATA ANALYTICS PROJECT</h1>
<hr/>
<h3>Analyst: Marianne Capuno</h3>

In [1]:
#import libraries
import numpy as np
import pandas as pd

<h3>Converting Dataset(s) into DataFrame</h3>
<h2>Requirements</h2>
<ul>
    <li>
        Name of the DataFrame
    </li>
    <li>
        File Path
    </li>
</ul>

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h3>Descriptive Analytics</h3>

In [4]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [5]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
rowid,344.0,172.500000,99.448479,1.0,86.750,172.50,258.25,344.0
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.50,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.70,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.00,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.00,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.00,2009.0

<h3>Checking Null Values</h3>

In [6]:
penguins.isnull()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False,False

In [7]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h3>Filtering a Column</h3>

In [8]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [9]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [10]:
penguins['species'] == 'Chinstrap'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: species, Length: 344, dtype: bool

In [11]:
penguins[penguins['species'] == 'Chinstrap']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [12]:
chinstrap_df = penguins[penguins['species'] == 'Chinstrap']

In [13]:
chinstrap_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [14]:
gentoo_df =penguins[penguins['species'] == 'Gentoo']

In [15]:
gentoo_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,154,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,156,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,157,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [16]:
adelie_df = penguins[penguins['species'] == 'Adelie']

In [17]:
adelie_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [18]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,285,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,290,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,292,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,296,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,302,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,306,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,308,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,310,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,314,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,316,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,322,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,324,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [19]:
chinstrap_heavy = penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]

In [20]:
chinstrap_heavy

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,285,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,290,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,292,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,296,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,302,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,306,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,308,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,310,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,314,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,316,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,322,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,324,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [21]:
chinstrap_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              16 non-null     int64
 1   species            16 non-null     object
 2   island             16 non-null     object
 3   bill_length_mm     16 non-null     float64
 4   bill_depth_mm      16 non-null     float64
 5   flipper_length_mm  16 non-null     float64
 6   body_mass_g        16 non-null     float64
 7   sex                16 non-null     object
 8   year               16 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 1.2+ KB

<h2>Fiiling Up Null Column</h2>

In [24]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [25]:
penguins['sex']

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [26]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [27]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [28]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       2
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [29]:
penguins['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339    55.8
340    43.5
341    49.6
342    50.8
343    50.2
Name: bill_length_mm, Length: 344, dtype: float64

In [30]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [31]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [32]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [33]:
penguins['bill_depth_mm']

0      18.7
1      17.4
2      18.0
3       NaN
4      19.3
       ...
339    19.8
340    18.1
341    18.2
342    19.0
343    18.7
Name: bill_depth_mm, Length: 344, dtype: float64

In [34]:
penguins['bill_depth_mm'].mean()

np.float64(17.151169590643274)

In [35]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [36]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [37]:
penguins['flipper_length_mm'].mean()

np.float64(200.91520467836258)

In [38]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [39]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [40]:
penguins['body_mass_g'].mean()

np.float64(4201.754385964912)

In [41]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [42]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h2>Changing Dtype</h2>

In [43]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [44]:
penguins['species'] = penguins['species'].astype('category')
penguins['island'] = penguins['island'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')
penguins['year'] = penguins['year'].astype('category')

In [45]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
dtypes: category(4), float64(4), int64(1)
memory usage: 15.4 KB

In [46]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
count,344.000000,344.000000,344.000000,344.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386
std,99.448479,5.443643,1.969027,14.020657,799.613058
min,1.000000,32.100000,13.100000,172.000000,2700.000000
25%,86.750000,39.275000,15.600000,190.000000,3550.000000
50%,172.500000,44.250000,17.300000,197.000000,4050.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000

<h1>Explanatory Data Analytics</h1>
<hr>

<h2>Question 1</h2>

<h4>Which Island has more Gentoo Specie?</h4>

In [47]:
penguins['island'].mode()

0    Biscoe
Name: island, dtype: category
Categories (3, object): ['Biscoe', 'Dream', 'Torgersen']

In [48]:
gentoo_df['island'].mode()

0    Biscoe
Name: island, dtype: object

<h2>Insight:</h2>
<h4>The Island Biscoe has more Gentoo Specie</h4>

<h2>Question 2</h2>

<h4>Which specie is more advent in year 2007?</h4>

In [49]:
chinstrap_df['year'] == 2007

276     True
277     True
278     True
279     True
280     True
       ...
339    False
340    False
341    False
342    False
343    False
Name: year, Length: 68, dtype: bool

In [50]:
adelie_df['year'] == 2007

0       True
1       True
2       True
3       True
4       True
       ...
147    False
148    False
149    False
150    False
151    False
Name: year, Length: 152, dtype: bool

In [51]:
gentoo_df['year'] == 2007

152     True
153     True
154     True
155     True
156     True
       ...
271    False
272    False
273    False
274    False
275    False
Name: year, Length: 124, dtype: bool

<h2>Insight:</h2>

<h4>The Adelie Specie is more advent in the year 2007</h4>

<h2>Question 3</h2>

<h4>Which Specie has the longest bill length?</h4>

In [52]:
adelie_df['bill_length_mm'].mean

<bound method Series.mean of 0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
147    36.6
148    36.0
149    37.8
150    36.0
151    41.5
Name: bill_length_mm, Length: 152, dtype: float64>

In [53]:
gentoo_df['bill_length_mm'].mean

<bound method Series.mean of 152    46.1
153    50.0
154    48.7
155    50.0
156    47.6
       ...
271     NaN
272    46.8
273    50.4
274    45.2
275    49.9
Name: bill_length_mm, Length: 124, dtype: float64>

In [54]:
chinstrap_df['bill_length_mm'].mean

<bound method Series.mean of 276    46.5
277    50.0
278    51.3
279    45.4
280    52.7
       ...
339    55.8
340    43.5
341    49.6
342    50.8
343    50.2
Name: bill_length_mm, Length: 68, dtype: float64>

<h2>Insight:</h2>

<h4>Chinstrap has the longest bill lenght among other specie</h4>

<h2>Question 4</h2>

<h4>What island give off lenght of 200mm above flipper bill?</h4>

In [55]:
penguins[penguins['flipper_length_mm'] >= 200] ['island']

3      Torgersen
53        Biscoe
90         Dream
91         Dream
95         Dream
         ...
334        Dream
336        Dream
339        Dream
340        Dream
342        Dream
Name: island, Length: 154, dtype: category
Categories (3, object): ['Biscoe', 'Dream', 'Torgersen']

<h2>Insight:</h2>

<h4>The Dream island give off more specie with 200mm flipper bill</h4>

<h2>Question 5</h2>

<h4>Which specie has the body mass of 4000 and above?</h4>

In [63]:
chinstrap_df['body_mass_g'].mean()

np.float64(3733.0882352941176)

In [64]:
gentoo_df['body_mass_g'].mean()

np.float64(5076.016260162602)

In [65]:
adelie_df['body_mass_g'].mean()

np.float64(3700.662251655629)

<h2>Insight:</h2>

<h4>The Gentoo has the heaviest body mass among other specie</h4>

<h2>Question 6</h2>

<h4>Which female specie has a 4000g and above body mass?</h4>

In [68]:
gentoo_heavy_sx = penguins[(penguins['species'] == 'Gentoo') & (penguins['body_mass_g'] >= 4000) & (penguins['sex'] == 'female')]

In [69]:
gentoo_heavy_sx

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
157,158,Gentoo,Biscoe,46.5,13.5,210.0,4550.0,female,2007
158,159,Gentoo,Biscoe,45.4,14.6,211.0,4800.0,female,2007
160,161,Gentoo,Biscoe,43.3,13.4,209.0,4400.0,female,2007
162,163,Gentoo,Biscoe,40.9,13.7,214.0,4650.0,female,2007
164,165,Gentoo,Biscoe,45.5,13.7,214.0,4650.0,female,2007
166,167,Gentoo,Biscoe,45.8,14.6,210.0,4200.0,female,2007
168,169,Gentoo,Biscoe,42.0,13.5,210.0,4150.0,female,2007
170,171,Gentoo,Biscoe,46.2,14.5,209.0,4800.0,female,2007
173,174,Gentoo,Biscoe,45.1,14.5,215.0,5000.0,female,2007
174,175,Gentoo,Biscoe,46.5,14.5,213.0,4400.0,female,2007
176,177,Gentoo,Biscoe,42.9,13.1,215.0,5000.0,female,2007
180,181,Gentoo,Biscoe,48.2,14.3,210.0,4600.0,female,2007
183,184,Gentoo,Biscoe,42.8,14.2,209.0,4700.0,female,2007
184,185,Gentoo,Biscoe,45.1,14.5,207.0,5050.0,female,2007
186,187,Gentoo,Biscoe,49.1,14.8,220.0,5150.0,female,2008
188,189,Gentoo,Biscoe,42.6,13.7,213.0,4950.0,female,2008
190,191,Gentoo,Biscoe,44.0,13.6,208.0,4350.0,female,2008
194,195,Gentoo,Biscoe,45.3,13.7,210.0,4300.0,female,2008
197,198,Gentoo,Biscoe,43.6,13.9,217.0,4900.0,female,2008
198,199,Gentoo,Biscoe,45.5,13.9,210.0,4200.0,female,2008
200,201,Gentoo,Biscoe,44.9,13.3,213.0,5100.0,female,2008
202,203,Gentoo,Biscoe,46.6,14.2,210.0,4850.0,female,2008
204,205,Gentoo,Biscoe,45.1,14.4,210.0,4400.0,female,2008
206,207,Gentoo,Biscoe,46.5,14.4,217.0,4900.0,female,2008
208,209,Gentoo,Biscoe,43.8,13.9,208.0,4300.0,female,2008
210,211,Gentoo,Biscoe,43.2,14.5,208.0,4450.0,female,2008
212,213,Gentoo,Biscoe,45.3,13.8,208.0,4200.0,female,2008
214,215,Gentoo,Biscoe,45.7,13.9,214.0,4400.0,female,2008
216,217,Gentoo,Biscoe,45.8,14.2,219.0,4700.0,female,2008
220,221,Gentoo,Biscoe,43.5,14.2,220.0,4700.0,female,2008
222,223,Gentoo,Biscoe,47.7,15.0,216.0,4750.0,female,2008
225,226,Gentoo,Biscoe,46.5,14.8,217.0,5200.0,female,2008
226,227,Gentoo,Biscoe,46.4,15.0,216.0,4700.0,female,2008
228,229,Gentoo,Biscoe,47.5,14.2,209.0,4600.0,female,2008
230,231,Gentoo,Biscoe,45.2,13.8,215.0,4750.0,female,2008
232,233,Gentoo,Biscoe,49.1,14.5,212.0,4625.0,female,2009
234,235,Gentoo,Biscoe,47.4,14.6,212.0,4725.0,female,2009
236,237,Gentoo,Biscoe,44.9,13.8,212.0,4750.0,female,2009
238,239,Gentoo,Biscoe,43.4,14.4,218.0,4600.0,female,2009
240,241,Gentoo,Biscoe,47.5,14.0,212.0,4875.0,female,2009
242,243,Gentoo,Biscoe,47.5,15.0,218.0,4950.0,female,2009
244,245,Gentoo,Biscoe,45.5,14.5,212.0,4750.0,female,2009
246,247,Gentoo,Biscoe,44.5,14.7,214.0,4850.0,female,2009
249,250,Gentoo,Biscoe,46.9,14.6,222.0,4875.0,female,2009
250,251,Gentoo,Biscoe,48.4,14.4,203.0,4625.0,female,2009
252,253,Gentoo,Biscoe,48.5,15.0,219.0,4850.0,female,2009
254,255,Gentoo,Biscoe,47.2,15.5,215.0,4975.0,female,2009
258,259,Gentoo,Biscoe,41.7,14.7,210.0,4700.0,female,2009
260,261,Gentoo,Biscoe,43.3,14.0,208.0,4575.0,female,2009
262,263,Gentoo,Biscoe,50.5,15.2,216.0,5000.0,female,2009
264,265,Gentoo,Biscoe,43.5,15.2,213.0,4650.0,female,2009
266,267,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,female,2009
270,271,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,female,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009

In [70]:
adelie_heavy_sx = penguins[(penguins['species'] == 'Adelie') & (penguins['body_mass_g'] >= 4000) & (penguins['sex'] == 'female')]

In [71]:
adelie_heavy_sx

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [66]:
chinstrap_heavy_sx = penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000) & (penguins['sex'] == 'female')]

In [67]:
chinstrap_heavy_sx

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,285,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007

<h2>Insight:</h2>

<h4>The gentoo specie has a female penguin that has a 4000g and above body mass</h4>

<h2>Question 7</h2>

<h4>What year has the most male adelie species?</h4>

In [75]:
adelie_year = penguins[(penguins['species'] == 'Adelie') & (penguins['year'] == 2007) & (penguins['sex'] == 'male')]

In [82]:
adelie_year.count()

rowid                28
species              28
island               28
bill_length_mm       28
bill_depth_mm        28
flipper_length_mm    28
body_mass_g          28
sex                  28
year                 28
dtype: int64

In [77]:
adelie_yr = penguins[(penguins['species'] == 'Adelie') & (penguins['year'] == 2009) & (penguins['sex'] == 'male')]

In [83]:
adelie_yr.count()

rowid                26
species              26
island               26
bill_length_mm       26
bill_depth_mm        26
flipper_length_mm    26
body_mass_g          26
sex                  26
year                 26
dtype: int64

<h2>Insight:</h2>

<h4>2007 has the most Adelie male species</h4>
<hr>

<h2>Making your own Column</h2>

In [86]:
penguins.columns

Index(['rowid', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [88]:
penguins['mass_kg'] = np.round(penguins['body_mass_g'] / 1000, 1)
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8